{% load static %}
    <!-- CSS Files -->

    <link href="{% static 'css/now-ui-dashboard.css' %}" rel="stylesheet" />
    <!-- CSS Just for demo purpose, don't include it in your project -->
<script src="{% static 'js/core/jquery.min.js' %}"></script>
<script src="{% static 'js/core/popper.min.js' %}"></script>
<script src="{% static 'js/plugins/perfect-scrollbar.jquery.min.js' %}"></script>
<!-- Chart JS -->
<!--  Notifications Plugin    -->
<!-- Control Center for Now Ui Dashboard: parallax effects, scripts for the example pages etc -->
<script src="{% static 'js/now-ui-dashboard.js' %}"></script>
<style>
td.JH  { border-bottom:1px solid black; vertical-align:bottom;}
td.JB  { border-bottom:1px solid black; border-right:1px solid black; vertical-align:bottom;}
td.JHS { border-right:1px solid black; vertical-align:top;}
td.JBS { vertical-align:top;}
</style>
<link rel='stylesheet' href='tableau.css'>
</head>
<body>
<table class="table table-responsive" border='1' cellspacing='0'>
<tr><td></td><td>DURAND B</td><td>VERDEAU B</td><td>CARON P</td><td>PICOT A</td></tr>
<tr><td>1 <a name='b19'><a href='Tournoi1j0.htm#j0'>DURAND Benoît 30/1</a> (1)</td>
	<td>X</td>
	<td><a name='b11'>3&nbsp;<br>4/0</td>
	<td><a name='b7'>3&nbsp;<br>4/2 4/0</td>
	<td> <br>&nbsp;</td>
</tr>
<tr><td>2 <a name='b18'><a href='Tournoi1j0.htm#j2'>VERDEAU Basile 30/2</a></td>
	<td>X</td>
	<td>X</td>
	<td> <br>&nbsp;</td>
	<td> <br>&nbsp;</td>
</tr>
<tr><td>3 <a name='b17'><a href='Tournoi1j0.htm#j1'>CARON Paul 30/3</a></td>
	<td>X</td>
	<td>X</td>
	<td>X</td>
	<td> <br>&nbsp;</td>
</tr>
<tr><td>4 <a name='b16'><a href='Tournoi1j0.htm#j3'>PICOT Angelico 30/4</a></td>
	<td>X</td>
	<td>X</td>
	<td>X</td>
	<td>X</td>
</tr>
</table>